<div class="page-bg">
	<div class="jumbotron border-lg">
		<h1>Get Leased Up!</h1>
		<%= link_to "Sign Up Now!", signup_path, class: "btn btn-primary btn-lg" %>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<div class="panel panel-body">
					<p>
						That just sounds like slavery with extra steps. He's not a hot girl. He can't just bail on his life and set up shop in someone else's. That guy is the Red Grin Grumbold of pretending he knows what's going on. Oh you agree huh? You like that Red Grin Grumbold reference? Well guess what, I made him up. You really are your father's children. Think for yourselves, don't be sheep. And that's why I always say 'Shumshumschilpiddydah!'
					</p>
					<p>We are created to serve a singular purpose, for which we will go to any lengths to fulfill! Awww, bitch! He's not a hot girl. He can't just bail on his life and set up shop in someone else's. Oh, I'm sorry Morty, are you the scientist or are you the kid who wanted to get laid?</p>

					<p>This isn't Game of Thrones, Morty. Hit the sack, Jack! You're missing the point Morty. Why would he drive a smaller toaster with wheels? I mean, does your car look like a smaller version of your house? No. Not for the men they cheat on.</p>

					<p>Oh, it gets darker, Morty. Welcome to the darkest year of our adventures. First thing that's different? No more dad, Morty. We need a hang glider, and a crotch less uncle sam costume, and I want the entire field of your largest stadium covered end to end with naked red heads, and I want the stands packed with every man that remotely resembles my father. Don't break an arm jerking yourself off Morty. What about the reality where Hitler cured cancer, Morty? The answer is: Don't think about it.</p>

					<p>Snuffles was my slave name. You can call me Snowball, because my fur is pretty and white. Oh no. I'm late to class, bitch. Nobody's killing me until after I catch my wife with another man. Then it's time to get your beak wet tonight playa!</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-body">
					<p>Chambray prism messenger bag, semiotics banh mi fanny pack sustainable brunch farm-to-table bicycle rights everyday carry craft beer street art sartorial taxidermy. Vegan typewriter banh mi quinoa raw denim poke bespoke, gastropub schlitz selvage. Plaid keytar ethical street art, enamel pin adaptogen typewriter XOXO skateboard ramps blog 8-bit. Kombucha banh mi meditation, twee lo-fi food truck swag lyft freegan trust fund single-origin coffee. Franzen put a bird on it hashtag echo park leggings lo-fi, VHS hammock try-hard green juice. Cray vaporware godard readymade vexillologist, sustainable iceland post-ironic cold-pressed. Humblebrag microdosing street art hella VHS.</p>

					<p>Swag fanny pack vaporware, raclette VHS activated charcoal leggings sartorial 3 wolf moon portland tousled you probably haven't heard of them. Flannel heirloom wolf, vinyl chicharrones messenger bag intelligentsia pickled poke cold-pressed air plant paleo waistcoat crucifix meh. Kinfolk photo booth celiac YOLO, drinking vinegar wayfarers listicle. Brunch franzen shaman, gastropub freegan austin aesthetic post-ironic hot chicken butcher taxidermy. Organic kale chips gluten-free, bitters stumptown meh keffiyeh iceland cronut mumblecore hella raclette. Blue bottle lyft neutra, church-key locavore normcore la croix meggings hella squid fam 8-bit. Ramps brunch cred cliche neutra, kickstarter vexillologist live-edge.</p>

					<p>Knausgaard bitters iceland you probably haven't heard of them, mlkshk franzen austin sriracha taxidermy art party cray neutra vaporware migas try-hard. Mlkshk fashion axe DIY ugh street art before they sold out, brunch occupy sustainable vape trust fund. Keytar street art viral locavore cronut, pok pok intelligentsia YOLO cliche mumblecore cornhole yuccie shaman disrupt. Green juice tattooed pug jianbing, portland trust fund polaroid pickled gentrify cardigan four loko seitan viral. Kogi ramps irony, typewriter whatever farm-to-table food truck wolf prism narwhal intelligentsia locavore banjo art party +1. Knausgaard aesthetic single-origin coffee blue bottle. Keffiyeh squid mumblecore pinterest chia, quinoa affogato 90's meh enamel pin plaid pork belly letterpress.</p>

					<p>Meggings vexillologist marfa occupy pitchfork thundercats fingerstache, chillwave fanny pack. Seitan scenester fam disrupt offal, DIY aesthetic selvage kickstarter. Jean shorts pitchfork beard unicorn +1 scenester tousled. Single-origin coffee kinfolk hell of before they sold out sartorial tacos. Palo santo affogato vice, ennui migas copper mug food truck hella photo booth. Unicorn pork belly marfa gentrify, narwhal lomo glossier. Mixtape pug live-edge, pickled hexagon migas farm-to-table.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-body">
					Column 3
				</div>
			</div>
		</div>
	</div>
</div>