<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_additional_room_path(@additional_room) %> |
<%= link_to 'Index', additional_rooms_path %> |
<%= link_to 'New Additional Room', new_additional_room_path %>
