<%# provide(:title, 'Register') %>
<%# provide(:button_text, 'Register Account') %>
<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">LU</h1>
    </div>
      <h3>Register for GetLeasedUp!</h3>
      <p>Create account to see it in action.</p>
					<%= render 'form', user: @user %>
					<%= link_to 'Back', root_path %>
      <p class="text-muted text-center"><small>Already have an account?</small></p>
      <%= link_to "Login", login_path, class: 'btn btn-sm btn-white btn-block' %>
      
        <p class="m-t"> <small>leasedUp created by LGM Studios</small> </p>
    </div>
</div>

