<%= provide(:title, 'Create A New Listing') %>
<%= provide(:button_text, 'Create New Listing') %>
<h1>New Property</h1>

<%= render 'form', building: @building %>

<%= link_to 'Back', buildings_path %>
