	<footer class="navbar navbar-default navbar-fixed-bottom footer">
		<ul class="nav navbar-nav visible-xs-block">
			<li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
		</ul>

		<div class="navbar-collapse collapse" id="footer">
			<div class="navbar-text">
				2015. <a href="#" class="navbar-link">MLS PINGA PINA</a> by LGM Studios</a>
			</div>

			<div class="navbar-right">
				<ul class="nav navbar-nav">
		      <li><%= link_to "About", static_pages_About_path %></li>
		      <li><%= link_to "Terms", static_pages_Terms_path %></li>
		      <li><%= link_to "Contact", static_pages_Contact_path %></li>
				</ul>
			</div>
		</div>
	</footer>
